
<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <%= link_to restaurant.name, restaurant_path(restaurant) %>
  <% end %>
<% else %>
  <h1>no restaurants</h1>
<% end %>

<a href="/restaurants/new">add a restaurant</a>
