
<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <h2><%= restaurant.name %></h2>
  <% end %>
<% else %>
  <h1>no restaurants</h1>
<% end %>

<a href="/restaurants/new">add a restaurant</a>
